@mixin flex($direction:row) {
    display: flex;
    flex-direction: $direction;

}
@mixin  flex-start{
    justify-content: flex-start;
    align-items: flex-start;
}
@mixin flex-center {

    justify-content: center;
    align-items: center;
}
.dashboard{
    @include flex();
    margin-top: 5px;
    width: 100vw;
    min-height: 100vh;
    color: cyan;
        .slidebarNav{
            @include flex();
            @include flex-start();
            min-height: 100%;
            overflow: hidden;
            background-color: cornsilk;
            color:rgb(238, 159, 12);
            @mixin navItemWrapper {
                @include flex($direction:column);
                justify-content: flex-start;
                align-items: center;
                min-height: 100vh;
                padding-top:1%;
                padding-bottom:1%;
                margin:0px;
                padding:0px;
                background-color: white;
            }
            .nav-list{
                @include navItemWrapper();

                // background-color: gray;
                padding:0px;
                margin: 0px;
            }
           
                // background-color: yellow;
            .nav-button{
                // background: yellow;
                @include flex();
                align-items: flex-start;
                justify-content: center;
                max-width: 20vw;
                margin: 0px;
                padding: 0px;
                font-size:1em;
                border-radius: 5px;
                background-color: lemonchiffon;
                .btn-icon{
                    @include flex();
                    @include flex-center();
                    color: rgb(238, 108, 2);
                    font-size: 1.1em;
                    min-width: 4vw;
                    min-height: 5vh !important;
                    padding: 0px;
                    margin: 0px;
                    //background: greenyellow;
                }
                .btn-text{
                    @include flex();
                    @include flex-center();
                    color: rgb(238, 108, 2);
                    font-size: 1.1em;
                    min-width: 15vw;
                    min-height: 5vh !important;
                    padding: 0px;
                    margin: 0px;
                    //background: lightblue;
                }
            }
        }
        
}
// @include flex($direction:column );
